<!-- login.html -->
{% extends "polls/base.html" %}
{% block title %}Přihlášení do systému{% endblock %}
{% block head %}Přihlášení do systému  VSLG{% endblock %}
{% block content %}

    <form class="form" method="post" action="" >{% csrf_token %}
            {{ loginForm }}
        <button type="submit"  value="Login" id="login-button">Přihlásit</button>
        <button type="button" onclick="window.location.href='register/' ">Registrovat</button>
        <input type="hidden" name="next" value="/home" />
    </form>

{% endblock %}