<!-- overview.html -->
{% extends "base.html" %}
{% block title %}Moje publikace{% endblock %}
{% block head %}Moje publikace{% endblock %}

{% block content %}
<div class="errors"> {{ error }} </div>


   {% for item in results %}
        <div class="file_row">

            <div class="overview_name"> {{ item.file_name }} </div>

           <div class="overview_status">
            {% if item.enable_post == True %}
                <div class="file_status_public">Veřejné</div>
           {% else %}
                <div class="file_status_private">Soukromé</div>
           {% endif %}
           </div>

            <div class="overview_date"> {{ item.date }} </div>

           <div class="overview_buttons">
            <input type="submit" class="changeButton" onclick="confirmChangeStatus('/main/overview/changeStatus/{{ item.id }}')" value="Změnit stav" />
            <input type="submit" class="editButton" onclick="window.location='/main/overview/update/{{ item.id }}';" value="Upravit" />
            <input type="submit" class="deleteButton" onclick="confirmDelete('/main/overview/delete/{{ item.id }}')" value="Smazat" />
           </div>
        </div>

    {% endfor %}

    <script>
        function confirmDelete(url) {
           var result = confirm("Opravdu chcete smazat zvolený soubor?");
            if (result == true) {
                 window.location = url;
            }
            else{
                return false
            }
        }

           function confirmChangeStatus(url) {
           var result = confirm("Opravdu chcete změnit stav souboru?");
            if (result == true) {
                 window.location = url;
            }
            else{
                return false
            }
        }
    </script>

{% endblock %}