<!-- settings.html -->
{% extends "base.html" %}

{% block title %}Nastavení účtu{% endblock %}
{% block head %}Nastavení účtu{% endblock %}

{% if form.errors %}
{% endif %}
{{ message }}

{% block content %}

    <div class="file_list_labels">Nastavení nového hesla</div>

     <form class="form" action="" method="post"> {% csrf_token %}

        {{ form.as_p }}

         <input type="submit" value="Uložit" />

    </form>

    <r>

    <div class="file_list_labels">Úprava emailové adresy</div>

     <form class="form" action="" method="post"> {% csrf_token %}

        {{ form_email.as_p }}

         <input type="submit" value="Uložit" />

    </form>


{% endblock %}