<!-- base.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href=" {% static 'main/base.css' %}">
    <link rel="stylesheet" type="text/css" href=" {% static 'bootstrap/css/bootstrap.min.css'%}">

</head>
<body>
    <div class="wrapper ">
        <div class="container">
            <ul class="nav nav-pills">
              <li role="presentation" ><a href="/main/">Přehled publikací</a></li>
              <li role="presentation"><a href="/main/insert/">Vložit</a></li>
              <li role="presentation"><a href="/main/overview/">Moje správa</a></li>
              <li role="presentation"><a href="/polls/logout/">Odhlásit</a></li>
            </ul>

            <div class="center_container">
                 <div class="center_container_title">
                    <h1>{% block head %}{% endblock %}</h1>
                 </div>

                 <div class="center_container_content">
                    {% block content %}{% endblock %}
                 </div>
            </div>
        </div>
    </div>
</body>
</html>